<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Availability</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div id = "main-content" >
        <div id = "availability-list"></div>   
    </div> 
    
    <script src="../TClient-servers/availability.js"></script> 
    <script src="./theaderFooter.js"></script>  
    <script src="../Client-servers/login.js"></script>
</body>
</html>

