<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div id = "content" class="main-content">
        <h1>Feedback from students will appear here</h1>
        <div id = "review-list"></div>
    </div>

    

    <script src="./theaderFooter.js"></script>
    <script src="../Client-servers/login.js"></script>
    <script src="../TClient-servers/review.js"></script>
</body>
</html>