<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="JavaScript" href="toogle.js">
</head>

<body>
    <div class="header">
        <img class="logo" src="../Icons/logo.svg" alt="">
        <input class="search" type="text" placeholder="Search">
        <ul>
            <li><a href="#"><img src="../Icons/notifications.svg" alt="ping"></a></li>
            <li><a href="#"><img src="../Icons/chat.svg" alt="ping"></a></li>
        </ul>
        <!-- Dark mode toggle switch -->
        <div class="dark-mode-toggle">
            <label for="dark-mode-switch" class="switch">
                <input type="checkbox" id="dark-mode-switch">
                <span class="slider round"></span>
            </label>
        </div>
        <ul class="account-link">
            <a href="#" id="profile-link">
                <img id="profile-picture" src="../Icons/profile2.jpg" alt="Profile Picture">
                <span id="profile-name">Default Name</span>
            </a>
        </ul>
    </div>
    <div id="sidebar" class="sidebar">
        <button id="toggleButton" class="toggle-button"><img src="../Icons/arrow-left-svgrepo-com.svg" alt=""></button>
        <ul>
            <li><a href="tutor_dashboard.html"><span>Dashboard</span></a></li>
            <li><a href="profile.html"><span>Profile</span></a></li>
            <li><a href="availability.html"><span>Availability</span></a></li>
            <li><a href="sessions.html"><span>Sessions</span></a></li>
            <li><a href="resources.html"><span>Resources</span></a></li>
            <li><a href="reviews.html" id="reviews"><span>Reviews</span></a></li>
            <li><a href="#" onclick="handleLogout()"><span>Logout</span></a></li>
        </ul>
    </div>
    <div id = "content" class="main-content">
        <h1>YOUR CONFIRMED UPCOMING SESSIONS WILL APPEAR HERE</h1>
    </div>
    <script>
        function handleLogout() {
            localStorage.removeItem('token');
            localStorage.removeItem('userId');
            window.location.href = '../login.html';
        }
    </script>
</body>
</html>
